nav {
	background: #7aeb8d;
}

header {
	position: absolute;
	z-index: 10;
	width: 100%;
}

.navbar {
	padding: 20px 0;
}

.navbar-brand {
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}

.nav-item {
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link {
	padding: 5px 15px;
	text-transform: uppercase;
}

.banner {
	position: relative;
	background-image: url(bg/restoran.jpg);
	min-height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 250px 0 200px;
}

.banner h2 {
	margin: 0;
	padding: 0;
	font-size: 2.3em;
	font-weight: 1000;
	color: white;
	text-shadow: 3px 3px 2px black;
}

.banner p {
	margin: 1em 0 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: white;
	text-shadow: 3px 2px 2px black;
}

.banner strong {
	margin: 1em 0 0;
	padding: 0;
	font-size: 1.4em;
	line-height: 1.5em;
	color: white;
	text-shadow: 3px 2px 2px black;
}

.navbar-light .navbar-toggler {
	border: none;
	outline: none;
}

.konten{
	margin-bottom: 120px;
}

.konten h3 {
	margin-top: 100px;
}

.konten .card {
	width: 180px; 
	margin-left: 35px;
	margin-top: 40px;
	border-radius: 20px;
	overflow: hidden;
}

.konten .card-body {
	background-color: #e3e3e3;
}

.konten .card-title {
	white-space: nowrap; 
	overflow: hidden;
    text-overflow: ellipsis;
}

.konten .bg-success {
	height: 1.3px;
}

footer h5 {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.banner {
		padding: 200px 0;
	}

	.banner h2{
		font-size: 1.8em;
	}

	.banner strong {
		font-size: 1.2em;
	}

	.banner p {
		font-size: 1em;
	}

	.konten .card {
		width: 120px; 
		margin-left: 35px;
		margin-top: 40px;
		border-radius: 20px;
		overflow: hidden;
	}

	.konten .card-title {
		font-size: 1em;
	}

	.konten .card-text {
		font-size: 0.8em;
	}

	footer span {
		margin-right: 15px;
	}
}